body {
    background: #ffffff;
}

h4 {
    font-size: 14px;
    color: #d28445;
}

.img-div {
    width: 100%;
    height: 100%;
    text-align: center;
}

.title {
    color: black;
    text-decoration: none;
    margin: 2em 0;
}